@import 'tailwindcss';

:root {
}

@theme {
  --color-main: #172755;
  --color-secondary: #8794ba;
  --color-chart-lines: #eeeef6;
  --color-blue: #0088f0;
  --color-dark-blue: #172755;
  --color-red: #ef2a82;
}

body {
  width: 100dvw;
  overflow-x: hidden;

  scroll-behavior: smooth;
}
