@import 'tailwindcss';

:root {
}

@theme {
  --color-main: #172755;
  --color-green: #b9ff66;
  --color-dark: #191a23;
  --color-grey: #f3f3f3;
  --color-black: #000000;
  --text-2xl: 1.625rem;
  --text-5xl: 2.6875rem;
}

body {
  width: 100dvw;
  overflow-x: hidden;

  scroll-behavior: smooth;
}

.nav-shadow {
  box-shadow: 0 4 4 #12214d;
}

.clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
}

.clip-path-lg {
  /* clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%); */
  @apply origin-bottom-left -rotate-6 md:-rotate-4 xl:-rotate-3;
}

@layer components {
  h1 {
    @apply text-5xl xl:text-6xl font-medium; /* Large heading */
  }

  h2 {
    @apply text-4xl xl:text-[40px] font-medium; /* Medium heading */
  }

  h3 {
    @apply text-2xl xl:text-3xl font-medium; /* Small heading */
  }

  h4 {
    @apply text-lg xl:text-xl font-medium; /* Extra small heading */
  }

  p {
    @apply text-base xl:text-lg font-normal  leading-6; /* Paragraph text */
  }

  .padding-x {
    @apply pl-5 pr-7;
  }

  .button-dark {
    @apply bg-dark text-white w-full rounded-2xl mt-10 py-5 text-xl;
  }

  .gradient-edge {
    @apply w-36 h-full absolute bottom-0 z-20;
  }

  .marquee-item {
    @apply md:w-40 w-32;
  }
}

/* marquee */
.marquee {
  width: 100dvw;
  overflow: hidden;
  position: relative;
}
.marquee-box {
  display: flex;
  align-items: center;
  width: 200%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  animation: marquee 60s linear infinite;
}
.marquee-item {
  float: left;
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
/* marquee end */
